
<h2>My tasks</h2>

<% @tasks.each do |task| %>
  <ul>
    <li style=list-style:none>
      <%= check_box_tag 'task_ids[]', task.id %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "Delete", task_path(task),
      method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
<% end %>

<p><%= link_to "Add new task", {:action => 'new' }%></p>
