<h2>Task Details</h2>

  <h2><%= @tasks.title %></h2>
  <p><%= @tasks.details %></p>

<p><%= link_to "Edit task", {:action => 'edit' }%></p>
<p><%= link_to "Back to List", {:action => 'index' }%></p>
